.App {
  text-align: center;
  background-image: url("images/dune_sheet2.png");
  background-size: cover;
  aspect-ratio: .77;
  min-width: 800px;
  max-width: 1500px;
  container: app / size;
}

.modalBox {
  top: 50%;
  left: 50%;
  width: 250px;
  background-color: white;
  border: 2px solid #000;
}

.cetext {
  /* width: 400px; */
  /* padding: 12px; */
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.clean {
  border: none;
  /* display: inline; */
  font-family: inherit;
  padding: none;
  background-color: transparent;
  font-size: inherit;
}

.Extra {
  min-width: 800px;
  max-width: 1500px;
  aspect-ratio: .77;
  background-image: url("images/dune_extended.png");
  container: app / size;
  background-size: cover;
}

.advpoints {
  text-align: center;
}

.sortableDiv {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
}

@container app (width > 400px) {
  .small {
    font-size: 2.3cqw;
  }

  .smaller {
    font-size: 2cqw;
  }

  .smallerer {
    font-size: 1.6cqw;
  }

  .large {
    font-size: 3cqw;
  }

  .sortIcons {
    font-size: 2cqw;
  }
}

.container {
  position: relative;
  width: 300px;
  height: 70px;
  background: black;
  border-radius: 12px;
  overflow: hidden;
}



.MuiTooltip-popper {
  font-size: 100px !important;
}

.MuiPopper-root {
  font-size: 100px !important;
}

/* .container {
  position: relative;
  width: 300px;
  height: 70px;
  background: black;
  border-radius: 12px;
  overflow: hidden;
} */

.changed {
  color: rgb(128, 0, 92) !important;
  /* font-weight: bold; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cleanInput {
  position: absolute;
  border: none;
  display: inline;
  font-family: inherit;
  padding: none;
  background-color: transparent;
}

.cleanArea {
  position: absolute;
  border: none;
  display: inline;
  font-family: inherit;
  padding: none;
  background-color: transparent;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}



.MuiIconButton-root {
  padding: 0 !important;
}